# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!setup.cfg
!docker/actinia.cfg
!docker/actinia-futures-plugin-test/actinia-futures-plugin-test.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml

# Build and docs folder/files
build/*
dist/*
sdist/*

# docker
docker/redis_data/dump.rdb
!docker/actinia-futures-plugin-test/actinia-futures-plugin-test.cfg
